#prefs
  display: grid
  gap: 1rem
  grid-template-columns: max-content minmax(80ch, min-content) max-content
  grid-template-areas: "toc chest trivia"
  & > div
    height: 85vh
    overflow-y: auto
    scrollbar-width: thin
@media only screen and (max-width: 926px)
  #prefs
    grid-template-columns: min-content
    grid-template-areas: "chest"
  .toc, .trivia
    display: none
  .prefdisplay .prefcontainer
    grid-template-columns: max-content 1fr
    gap: 0px
    .defaultvalue, .uservalue
      input[type="text"]
        width: 10ch
    .validatorvalue
      font-size: 8px
.prefdisplay
  border-left: 1px solid var(--dim-highlight)
  & > .prefcontainer:last-child
    margin-bottom: 100rem
  .prefcontainer:nth-child(even)
    backdrop-filter: contrast(75%)
    box-sizing: border-box
  .prefcontainer
    display: grid
    padding: 1rem
    gap: 1rem
    grid-template-columns: max-content 1fr
    grid-template-areas: "key currentval" "userkey userval" "defaultkey defaultval" "validatorkey validatorvalue"  "description description"
    .key
      grid-area: key
    .currentval
      grid-area: currentval
    .userkey
      grid-area: userkey
    .uservalue
      grid-area: userval
      input
        &.notsamezies
          border: 1px solid var(--highlight-color)
    .defaultkey
      grid-area: defaultkey
    .key, .userkey, .defaultkey, .validatorkey
      font-size: smaller
    .defaultvalue
      grid-area: defaultval
    .defaultvalue, .uservalue
      input
        width: 90%
    .description
      grid-area: description
    .validatorkey
      grid-area: validatorkey
    .validatorvalue
      grid-area: validatorvalue
a
  font-family: var(--font-alt)
.color-override-container
  display: flex
  justify-content: space-between
.color-override-indicator
  margin-top: 0.5rem
  width: 1rem
  height: 1rem

