#mainform
  display: block
  box-sizing: border-box
  width: 100%
  min-height: calc(1rem + 1.5em + 2px)
  line-height: 1.5
  padding: .5rem 1rem
  font-size: 1.25rem
  font-weight: 400
  border-radius: .5rem
  border: 1px solid var(--highlight-color)
  color: var(--text-color)
.main
  display: grid
  grid-template-areas: "lc chest rc"
  grid-template-columns: 1fr 9fr 1fr
  grid-template-rows: auto
.chest
  margin-bottom: 30px
.startgutter
  grid-area: lc
.endgutter
  grid-area: rc
#message
  margin-top: 60px
  text-align: center
.diaphram
  line-height: 32px
.input-container
  position: relative
  & [type="text"]
    position: absolute
    z-index: 5
    background: transparent !important
  .suggestion-container
    position: absolute
    left: 1.04rem
    top: .552rem
    font-size: 1.25rem
    color: #1da1f2
    pointer-events: none
    z-index: 4
.deleter .btn
  line-height: 1
  margin-bottom: 0
  display: none
  background-color: var(--danger-button-color)
  background-image: var(--danger-button-color)
  border: 1px solid var(--danger-button-color)
.dukegrid
  height: 35vh
  max-height: 35vh
  overflow-y: auto
  scrollbar-width: thin
span.historyid
  display: inline-block
  padding-top: 1.25rem
  padding-left: 1rem
  opacity: .5
.historyui
  display: grid
  grid-template-areas: "but num goods tags"
  grid-template-columns: 5ex 5ex 4fr 1fr
.historyui.verbose
  grid-template-areas: "but num goods tags" "plug vhid visits visits"
  .historyid
    grid-area: vhid
    opacity: 0.3
  .visits
    grid-area: visits
    margin-bottom: 1rem
.historyNum
  text-align: right
  padding-right: .5rem
  &::before
    color: var(--highlight-color)
    opacity: 0.3
    content: counter(history)
.goods
  white-space: nowrap
  text-overflow: ellipsis
.historyitem
  counter-increment: history
  border: 1px dashed transparent
  padding-right: 4px
  padding-top: 4px
  &:hover
    backdrop-filter: saturate(2)
    box-shadow: var(--hovershadow)
    .deleter .btn
      display: inline-block
.assocb
  display: flex
  justify-content: end
.bookmarkui
  display: grid
  grid-template-areas: "but tags templ"
  grid-template-columns: 4ex 2fr 5fr
  grid-template-rows: 1
.bmlink
  grid-area: templ
.clickable
  cursor: pointer
.aliasui
  display: grid
  gap: 1rem
  grid-template-columns: max-content 1fr
  & > div
    height: 80vh
    overflow-y: auto
    scrollbar-width: thin
  &
    .aliases > div:last-child
      margin-bottom: 100rem
  h6
    border-bottom: 1px solid var(--dim-highlight)
    color: var(--highlight-color)
    margin-left: 2rem
  .aliastemplate
    margin-left: 2rem
    font-family: var(--font-main)
  .aliasverb
    text-align: center
    font-family: var(--font-alt)
  .alias
    margin: 1rem
    display: grid
    grid-template-columns: 36px 20ch 1fr
    grid-gap: 1px
    padding-right: 1ex
    &:hover
      backdrop-filter: saturate(2)
      box-shadow: var(--hovershadow)
      .deleter .btn
        display: inline-block
.bmlink, .historylink
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: inline-block
.bottomo
  margin-top: 1vh
  grid-area: bottomo
.bookmark
  margin-bottom: 5px
  border-bottom: 1px solid transparent
  &:hover
    backdrop-filter: saturate(2)
    box-shadow: var(--hovershadow)
    .deleter .btn
      display: inline-block
.bmtags
  display: flex
  justify-content: end
  margin-right: 2rem
ul.tagcloud
  list-style: none
  padding-left: 0
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  line-height: 2rem
  li
    display: block
    padding: 0.125rem 0.25rem
    &:hover
      box-shadow: var(--hovershadow)
    a
      font-family: var(--font-main)
      text-decoration: none
      --css-is-awesome: calc(12px * var(--size))
      font-size: var(--size)
      &:after
        content: var(--bump)
.tab-ui
  fill: var(--link-color)
  svg
    stroke: var(--link-color)
    height: 24px
    width: 24px
  #prefslink
    float: right
  label
    display: inline-block
    text-align: center
    margin-right: 20px
    padding-right: 10px
    padding-left: 10px
    font-size: 12px
    cursor: pointer
    margin-bottom: 2px
  input, section
    display: none
  #historytab:checked ~ section.history, #aliastab:checked ~ section.aliases, #cloudtab:checked ~ section.cloud, #bookmarkstab:checked ~ section.bookmarks
    display: block
#historytab:checked ~ label#historytabnav, #aliastab:checked ~ label#aliastabnav, #cloudtab:checked ~ label#cloudtabnav, #bookmarkstab:checked ~ label#bookmarkstabnav
  svg
    stroke: var(--highlight-color)
    fill: var(--highlight-color)

.help_section
  display: grid
  grid-template-columns: repeat(2, 1fr)
  column-gap: 1.25rem

  & > *
    color: var(--text-color)
    font-size: var(--font-size)

.help_name
  margin-top: 2rem

.reference
  margin-top: 1.5rem
  padding: 1rem
  border: 1px solid var(--highlight-color)
  border-radius: .5rem

  ul, p
    margin: 0
    padding: 0


@media only screen and (max-width: 926px)
  .main
    grid-template-areas: "chest"
    grid-template-columns: 1fr
  .chest
    margin: 1ch
  .startgutter, .endgutter
    display: none
  .historyitem > .deleter .btn, .bookmarkui > .deleter .btn, .alias > .deleter .btn
    display: inline-block
    padding: 0.1875rem 0.25rem
  .aliasui
    h6
      margin-left: 2ch
    .aliastemplate
      display: none
    .aliasverb
      margin-left: 2ch
      margin-right: 0px
      text-align: left
