@font-face {
    font-family: 'Oxanium';
    src: url('woff2/Oxanium-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    font-weight: 700;
    font-display: swap;
    src: url('cinzel/Cinzel.woff2') format('woff2');
    src: url('cinzel/Cinzel-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Cinzel';
    font-weight: 400;
    font-display: swap;
    src: url('cinzel/Cinzel.woff2') format('woff2');
    src: url('cinzel/Cinzel-Regular.ttf') format("truetype");
}
