.outer
  h6 Aliases
  - alis =  DukeOfUrl::Aliases.read.group_by(&:first_letter)
  .aliasui hx-boost="true" hx-target="closest .alias" hx-swap="outerHTML swap"
    .aliastoc.font-smaller
      ul
        - alis.keys.each do |letter|
          li
            a href="#alias#{letter}" #{letter.upcase}
    .aliases
      - alis.keys.each do |letter|
        div id="alias#{letter}"
          h6 #{letter.upcase}
          - alis[letter].each do |alius|
            .alias
              .deleter
                form action="/delalias/#{alius.id}" method="post"
                  button.btn type="submit" hx-ext="focus-search" hx-trigger="click" X
              .aliasverb
                - if alius.args?
                  button.btn.btn-primary data-duketype="alias" data-verb="#{alius.verb}" data-template="#{alius.template}" #{alius.verb}
                - else
                  a.text-decoration-none hx-boost="false" data-duketype="alias" data-verb="#{alius.verb}" data-template="#{alius.template}" href="?q=#{alius.verb}" #{alius.verb}
              .aliastemplate
                span.font-smaller #{alius.template}


javascript:
  document.querySelectorAll('[data-duketype="alias"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      if(event.altKey){
        mainform.value = "alias " +  event.target.dataset.verb + " " + event.target.dataset.template; mainform.focus();
      }else{
        mainform.value = event.target.dataset.verb; mainform.focus();
      }
    })
  });
