svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="Bookmarks" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve" fill="none"
  path d="M15.75 3.25H8.25C7.5206 3.25 6.8212 3.5397 6.3055 4.0555 5.7897 4.5712 5.5 5.2706 5.5 6V20C5.499 20.1377 5.5359 20.2729 5.6066 20.391 5.6774 20.5091 5.7793 20.6054 5.9011 20.6695 6.023 20.7335 6.1601 20.7627 6.2975 20.754 6.4349 20.7453 6.5672 20.6989 6.68 20.62L12 16.91 17.32 20.62C17.4467 20.7063 17.5967 20.7516 17.75 20.75 17.871 20.7486 17.9903 20.7213 18.1 20.67 18.2203 20.6041 18.3208 20.5072 18.3911 20.3894 18.4615 20.2716 18.499 20.1372 18.5 20V6C18.5 5.2706 18.2103 4.5712 17.6945 4.0555 17.1788 3.5397 16.4793 3.25 15.75 3.25Z"

