h6 Help

.reference
  h3 Symbols
  ul
    li
      code ${*}
      |< - Wildcard character used to represent where to insert arguments to an alias when defining the alias.
    li
      code &&
      |< - Used to issue multiple commands. The last command issued will perform its default behavior.

- @references&.each do |name, sections|
  h3.help_name= name
  .help_section
    - sections.each do |section|
      .reference
        h3= section['name']
        p== section['description']
        ul
          - section['examples'].each do |example|
            li== example
