- long = prefs.bool('history:verbose')
- longclass = long ? "verbose" : ""
.outer hx-boost="true" hx-target="closest .history" hx-swap="outerHTML swap" hx-on:::after-request="alert('jojobobo')"
  h6
    | History
  - @history.each do |history|
    - associated_bookmark = ::DukeOfUrl::Bookmarks.bookmarked?(history.text).first
    .history.historyitem.historyui class="#{longclass}"
      .deleter
        form action="/deletehistory/#{history.id}" method="post"
          button.btn type="submit" hx-ext="focus-search" hx-trigger="click" X
      .historyNum
      .goods.historylink hx-boost="false"
        a href="/?q=#{history.encoded}" #{history}
      .assocb
        - if associated_bookmark
          - associated_bookmark.tags.each do |tag|
            a.btn.btn-primary.btn-sm.ms-2 title="Count: #{tag.bookmark_count}" hx-boost="false" data-duketype="bmtag" data-tag="tag.tag" role="button" href="/bookmarks/#{tag.tag}" #{tag.tag}
      - if long
        .historyid #{history.id}
        .visits.font-smaller
            div Recently visit ##{history.visit_count} #{history.ago} ago
            div First visit #{history.orig} ago
