- showme     = prefs.fetch('ui:default:tab')
- bmcount    = prefs.fetch('bookmarks:show')
- @bookmarks = DukeOfUrl::Bookmarks::Bookmark.order_by(Sequel.desc(:id)).limit(bmcount).all
- histcount  = prefs.int('history:show')
- @history   = DukeOfUrl::History.read(histcount)
.tab-ui
  input#historytab name="tabs" type="radio" checked=(showme == 'history' ? 'checked' : false)
  input#aliastab name="tabs" type="radio" checked=(showme == 'aliases' ? 'checked' : false)
  input#cloudtab name="tabs" type="radio" checked=(showme == 'cloud' ? 'checked' : false)
  input#bookmarkstab name="tabs" type="radio" checked=(showme == 'bookmarks' ? 'checked' : false)

  label#historytabnav.tabnav for="historytab" accesskey="h" title="History (ctrl-alt-h)"
    == slim :historysvg

  label#aliastabnav.tabnav for="aliastab" accesskey="a" title="Aliases (ctrl-alt-a)"
    == slim :aliassvg

  label#cloudtabnav.tabnav for="cloudtab" accesskey="c" title="Bookmark Tag Cloud (ctrl-alt-c)"
    == slim :tagcloudsvg

  label#bookmarkstabnav.tabnav for="bookmarkstab" accesskey="b" title="Bookmarks (ctrl-alt-b)"
    == slim :bookmarksvg

  a#prefslink href="/preferences/"
    == slim :prefssvg

  section.history
    == slim :history
  section.aliases
    == slim :aliases
  section.cloud
    == slim :tag_cloud
  section.bookmarks
    == slim :bookmarks
  section.help
    == slim :help
