doctype html
html
  head
    title Duke of Url
    link href="/webfonts/fonts.css" rel="stylesheet"

    script src="/js/htmx.min.js"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta charset="utf-8"
    link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="DukeOfUrl"
    link rel="stylesheet" href="/css/reset.css"
    link rel="stylesheet" href="/css/styles.css"
    link rel="stylesheet" href="/css/preferences.css"
    / you can't put ruby vars into SASS via Slim, I gather
    style
      |:root{
      | --background: #{{prefs.fetch('ui:background')}};
      | --button-color: #{{prefs.fetch('ui:button:color')}};
      | --button-text: #{{prefs.fetch('ui:button:text:color')}};
      | --danger-button-color: #{{prefs.fetch('ui:button:danger:color')}};
      | --dim-highlight: color-mix(in srgb, #{{prefs.fetch('ui:highlight')}} 50%, transparent);
      | --font-alt: #{{prefs.fetch('ui:font:secondary')}};
      | --font-main: #{{prefs.fetch('ui:font:primary')}};
      | --font-size: #{{prefs.int('ui:font:size')}}px;
      | --highlight-color: #{{prefs.fetch('ui:highlight')}};
      | --hovershadow: #{{prefs.fetch('ui:hovershadow')}};
      | --link-color: #{{prefs.fetch('ui:link:color')}};
      | --text-color: #{{prefs.fetch('ui:text:color')}};
      |}

  body.bg-dark.text-white hx-push-url="false"

    .main
      .startgutter.text-center
        h2 Duke
      .chest style="grid-area: chest"
        .form.input-container
          form action="/"
            - val = ''
            - val = @handler.form_value if @handler && @handler.respond_to?(:form_value)
            input#mainform.form-control.form-control-lg.bg-dark.text-white type="text" name="q" autocomplete="off" value="#{val}"
            span.suggestion-container
        #message
          - if @handler && @handler.message
            h1 #{@handler.message}
        .diaphram style="grid-area: chest"
          == yield
      .endgutter.text-center
        h2
          sup of&nbsp;
          | URL


javascript:
  var mainform = document.getElementById("mainform")
  mainform.focus()
  document.querySelectorAll('label.tabnav').forEach((i) => { i.addEventListener("click", function(){ mainform.focus() }) })

javascript:
  // Based on Code By Webdevtrick ( https://webdevtrick.com )
  // https://webdevtrick.com/javascript-typing-suggestions/
  //
  // Heavily hacked (in the worst sense of the word)
  // If you're a javascript person, here be dragons
  // I'm sorry. PRs accepted.

  const textInputEl = document.querySelector("input#mainform");
  const suggestionEl = document.querySelector(".suggestion-container");

  const ENTER_KEYCODE = 13;
  const TAB_KEYCODE = 9;
  const BACKSPACE_KEYCODE = 8;
  const UP_ARROW_KEYCODE = 38;
  const DOWN_ARROW_KEYCODE = 40;
  const SPACE_KEYCODE = 32;

  let bmTags = #{{ ::DukeOfUrl::Bookmarks::Tag.cloud.all.to_json }}
  let typeahead = #{{ typeahead }}
  let userHistory = typeahead['history']
  userHistory.unshift('') //smgdh
  let wordsArray = Object.values(typeahead).flat();

  let badAtJavacript = {
    'bm ': /^(bm.{0,1} \S+)\s+(.*)/,
    'bmr ': /^(bm.{0,1} \S+)\s+(.*)/,
    'bmretag ': /^(bmretag)\s(.*)/,
    'bmt ': /^(bmt)\s(.*)/,
  }

  let suggestedTag        = "";
  let suggestedTagsArray  = [];
  let suggestedWord       = "";
  let suggestedWordsArray = [];
  let currentWordIndex    = 0;
  let arrowKeyWordless    = 0;
  let insertText          = false;

  textInputEl.addEventListener("input", e => {
    if (e.data != " ")       { insertText = true; }

    let inputValue = e.target.value;
    if( firstWord = inputValue.match(/^(bm|bmr|bmretag|bmt)\s+/)) {
      suggestionEl.innerHTML = "";
      let myre = badAtJavacript[firstWord.at(0)];
      let [_,cmd,tags] = inputValue.match(myre) || ['','',''] //javascript smgdh
      tags = tags.split(',');
      let lastTag = tags.at(-1).trimStart()
      suggestedTagsArray = filterArray(bmTags, lastTag, true)
      suggestedTag = suggestedTagsArray[0];

      if (suggestedTag != undefined){
        let shortInput = inputValue.slice(0, -lastTag.length);
        suggestionEl.innerHTML = shortInput + suggestedTag;
      }
    }else{
      suggestedWordsArray = filterArray(wordsArray, inputValue, true);
      suggestedWord = suggestedWordsArray[0];

      if (suggestedWord != undefined) { suggestionEl.innerHTML = suggestedWord; }

      if (inputValue.length == 0 || suggestedWordsArray.length == 0) {
        suggestionEl.innerHTML = "";
      }

      if (textInputEl.value.length == 0) { insertText = false; }
    }
  });


  textInputEl.addEventListener("keydown", e => {
    let inputExists = textInputEl.value.length != 0

    if (e.keyCode == UP_ARROW_KEYCODE) {
      if (inputExists) {
        if (currentWordIndex == 0) return;
        currentWordIndex--;
        suggestionEl.innerHTML = suggestedWordsArray[currentWordIndex];
      }else{
        //there's no current input, let's suggest some history
        arrowKeyWordless++;
        suggestionEl.innerHTML = userHistory.at(arrowKeyWordless);
      }
    }

    if (e.keyCode == DOWN_ARROW_KEYCODE) {
      if (inputExists) {
        if (currentWordIndex == suggestedWordsArray.length - 1) return;
        currentWordIndex++;
        suggestionEl.innerHTML = suggestedWordsArray[currentWordIndex];
      }else{
        arrowKeyWordless--;
        suggestionEl.innerHTML = userHistory.at(arrowKeyWordless);
      }
    }

    if (e.keyCode == BACKSPACE_KEYCODE) {
      currentWordIndex = 0;
      suggestionEl.innerHTML = '';
      arrowKeyWordless = 0;
    }
    if ( e.keyCode == TAB_KEYCODE) {
      e.preventDefault();
      textInputEl.value = suggestionEl.innerHTML;
      suggestionEl.innerHTML = "";
      return;
    }

  });


  function filterArray(array, item, reverse = false) {
    if (reverse) {
      return array
        .filter(word => compareTwoStrings(word, item))
        .sort((a, b) => a.length - b.length);
    } else {
      return array
        .filter(word => compareTwoStrings(word, item))
        .sort((a, b) => b.length - a.length);
    }
  }

  function removeDuplicatesFromArray(array) {
    return [...new Set(array.map(i => i))];
  }

  function compareTwoStrings(string, subString) {
    let temp = string.split("", subString.length).join("");
    if (subString == temp) return subString;
  }

  htmx.defineExtension('focus-search', {
    onEvent: () => {
      mainform.focus()
    }
  })
