- keys = @defaults.keys
.outer#prefs
  .toc
    ul
      - keys.sort.each do |key|
        li
          a href="##{key}" #{key}

  .prefdisplay
    - keys.sort.each do |key|
      - user = prefs.fetch(key)
      - default = @defaults[key][:default]
      - samezies = user == default
      - asterisk = samezies ? '' : '&ast;'
      - verb = samezies ? 'set' : 'unset'

      .prefcontainer id="#{key}"
        .key Name#{{asterisk}}
        .clickable data-duketype="pref" data-key="#{key}" data-verb="#{verb}" #{key}
        .userkey.clickable data-duketype="pref" data-key="#{key}" data-verb="set" data-user="#{{user}}" User&nbsp;Value
        .uservalue
          input type="text" class=(samezies ? 'samezies' : 'notsamezies') value="#{{user}}" disabled="true"
        .defaultkey.clickable data-duketype="pref" data-key="#{key}" data-verb="unset" Default&nbsp;Value
        .defaultvalue
          input type="text" class=(samezies ? 'samezies' : 'notsamezies') value="#{{default}}" disabled="true"
        .validatorkey Validator
        .validatorvalue.font-smaller #{@defaults[key][:valid]}
        .description.font-smaller
          | #{@defaults[key][:description]}

  .trivia.font-smaller
    - mosty = ::DukeOfUrl::History::HistoryEntry.order_by(::Sequel.desc(:visit_count)).first || ::DukeOfUrl::NullObj.new("No Data")
    - color_overrides = ::DukeOfUrl::Preferences::Pref.uiprefs.all.select{|pref| pref.key.include?('color') || pref.key.include?('background')}
    ul
      li Aliases #{::DukeOfUrl::Aliases::Alias.count}
      li Bookmarks #{::DukeOfUrl::Bookmarks::Bookmark.count}
      li Bookmark Tags #{::DukeOfUrl::Bookmarks::Tag.count{distinct(tag)}}
      li History entries #{::DukeOfUrl::History::HistoryEntry.count}
      li
        | Most Historied: #{mosty.visit_count} visits
        br
        a style="margin-left: 2rem" href="/?q=#{mosty.encoded}" #{mosty.text}
      - unless color_overrides.empty?
        li
          | Color overrides
          - color_overrides.each do |pref|
            div.color-override-container
              a href="##{pref.key}" #{pref.key}
              div.color-override-indicator style="background: #{pref.value}"

javascript:
  var mainform = document.getElementById('mainform');
  document.querySelectorAll('[data-duketype="pref"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      const verb = event.target.dataset.verb;
      const value = event.target.dataset.user || "";
      if(event.altKey){ verb = "unset "}
      mainform.value = verb + " " + event.target.dataset.key + " " + value;
      mainform.focus();
    })
  });
