.outer
  h6 Bookmark Tag Cloud
  .tagcloudwrapper
    ul.tagcloud
      - tags = DukeOfUrl::Bookmarks::Tag.cloud
      - tags_max_count = tags.max(&:count)
      - tags.each do |tag|
        li
          a.tagcloud data-duketype="bmtag" title="Count: #{tag.count}" data-tag="#{tag.tag}" data-weight="#{tag.cloud_factor(tags_max_count)}" href="/bookmarks/#{tag.encoded_tag}" #{tag.tag}

javascript:
  document.querySelectorAll('ul.tagcloud a').forEach((i) => { i.style.setProperty('--size', i.dataset.weight); });
